h1 {
	color: Maroon;
	border: 2px solid black;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: 40%;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
}