body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
	text-align: justify;
	width: 80%;
	margin-left: 4em;
}


h1 {
	color: Maroon;
	text-align: center;
	
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 30%;
}

a:link{
	color: maroon;
}

a:visited{
	color: maroon;
}

.under {
	padding-left: 25 px;
	text-decoration: underline;
}

.dropdown {
	position: relative;
	display: in-lineblock;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
	padding: 0px 16px;
	z-index:1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

iframe {
	 width: 80%;
	height: 750px;
	margin-left: 4em;
	margin-top: 35px;
	margin-bottom: 35px;
}
