body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
}


h1 {
	color: LightSeaGreen;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
